<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	backupGlobals				= "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
	bootstrap="tests/bootstrap.php"
>
  <testsuites>
    <testsuite name="My Test Suite">
      <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">src</directory>
    </testsuite>
  </testsuites>
</phpunit>
